/* Login page specific styles */

body.login-page {
    background-color: #f4f4f4;
}

.login__img--container {
    position: absolute;
    left: -190px;
    top: 200px;
    width: 50%;
    height: auto;
    overflow: hidden;
    z-index: -1;
}

.login__img--container img {
    width: 100%;
    height: auto;
    opacity: 100%;
}

.login2__img--container {
    position: absolute;
    right: -190px;
    top: 200px;
    width: 50%;
    height: auto;
    overflow: hidden;
    z-index: -1;
}

.login2__img--container img {
    width: 100%;
    height: auto;
    opacity: 100%;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    margin: 50px auto;
    position: relative;
    z-index: 1;
}

.login-form h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #8FBC8F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #4cae4c;
}

.register-link-container {
    text-align: center; /* Center the link text */
}

.register-link {
    color: #8FBC8F;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.register-link:hover {
    text-decoration: underline;
}